/* -------------------
 基本設定
 ------------------- */
html,
body {
    /* ブラウザ設定サイズを活かす */
    font-size: 100%;
    /*サイト内の文字は全て基本的に白 ※a除く*/
    color: #fff;
}

ul,
ol,
dl {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

/* -------------------
 body
 ------------------- */
/*幅を絞りたい時のクラス*/
.wrapper {


}

/* 全体を囲むクラス */
.container {
    /* サイト全体の背景色 */

    /* 背景色と背景画像をブレンド */

}


/* -------------------
 header 
 ------------------- */
.header {
    /* ロゴとメニューを横並び */

}

.header h1 {

}

.header h1 img {

}

.header nav {

}

.header nav ul {
    /* メニューリストを横並びに */

}

.header ul a {

}


/* -------------------
 main 
 ------------------- */
/* -------------------
 pickup-area
 ------------------- */
.pickup-area {
    /* 横縦10：6の比率 */

    /* 縦並びにして左右中央に寄せる */

}

.slide-area {

    /* 画像群の相対基準点 */

}

.slide-area img {

    /* アスペクト比は崩さずトリミング */

    /* 画像群は同じところに重ねて集める */

    /* 基本は透明で隠れている */

    /* 1.5秒かけて透明度がじわっと変化する */

}

/* activeクラスが付与されたimgは表示 */
.slide-area img.active {

}

.slide-button {

    /* span(スライドボタン)を横並びで中央に集める */

}

.slide-button span {
    /* 幅・高さが効くように性質変更 */

    /* 横縦比率 1：1*/

    /* 正方形に対しまん丸にする */

    /* マウスを重ねると指マークにする */

}

/* activeクラスが付与されたspanは色が濃い */
.slide-button span.active {

}

/* -------------------
 portfolios-area
 ------------------- */
.portfolios-area {

}

.portfolios-area h2 {

}

.portfolio-grid {

    /* 最小200px～最大240pxの幅で調整され、横に繰り返せるだけ並べる(auto-fit) */

    /* 要素を中央に集める */

}

.grid-box {
    /* 縦並び */

    /* 上下は端から端にバランスよく要素を配置 */

    /* 左右は左寄せ */

    /* 横縦比1：2 */

    /* 背景色は白だが透明度が高い */

    /* 背景をすりガラス風の加工 */

}

.grid-box img {

}

.grid-box h3 {

    /* タイトルが短くても最小の高さを担保 */

    /* flexで縮んだ幅を100%に指名してから中央揃え */

}

.grid-box p {

    /* 説明文章が短くても最小の高さを担保 */

}

.grid-box a {

}

/* -------------------
 about-area
 ------------------- */
.about-area {
    /* 縦並び、左右上下中央揃え */

}

.about-area img {

    /* 少し小さめの画像にする */

    /* まん丸にする */

}

/* -------------------
 footer
 ------------------- */
.footer {
    /* 高さを十分に確保 */

    /* 縦並びにして上下方向は下に集める */

    /* 左右方向は中央に集める */

}

.contact {
    /* 要素を横並び */

}

.contact a {
    /* 子要素のimgの配置を上下左右とも中央にする */

    /* 幅は小さめ */

    /* 正方形にする */

    /* まん丸にする */

}

.contact a img {

}

.copy-right {

}

/* -------------------
   トップへ戻るボタン
------------------- */
#to-top-button {
    /* 位置を画面右下に固定 */

    /* 他の要素より手前に表示 */

    /* 円の形とサイズ */

    /* 半透明の黒 */

    /* 正円にする */

    /* 初期状態では非表示にする */


    /* 表示/非表示を滑らかにアニメーションさせる */
    

    /* カーソルをポインターにする */

}

/* JavaScriptで.showクラスがついたら表示する */
#to-top-button.show {

}

/* マウスが乗った時のスタイル */
#to-top-button:hover {
    /* 少し濃くする */

}


/* CSSで上向きの矢印を描画 */
#to-top-button::before {


    /* 線のスタイルで三角形を作る */

    /* 矢印の色 */

    /* 三角形を回転させて上向きにする & 位置を調整 */

}


/* -------------------
   レスポンシブ (1000px以下)
------------------- */

@media (max-width:999px) {
    .wrapper {

    }

    .header{

    }

    .portfolio-grid {
        /* Gridを1列のみの設定 */

    }

    .grid-box{

    }

    .footer{

    }
}